* {
    margin:0;
    padding:0;
}

body {
    margin:0; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    line-height:1.6;
    color:black;
}
#landingpage {
    background-image: url("../imgs/index.html.jpeg");
    background-size: cover;
    background-position: center;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding:0 20px;
}
#landingpage h1 {
    font-size: 90px;
    font-style: initial;
    font-weight: bolder
}
#landingpage p {
    font-size: 40px;
}


.button {
    border-radius: 12px;
    color: white;
    margin: 4px 0;
    border: none;
    cursor: pointer;
    width: 15%;
    height:60px;
    display: inline-block;
    padding: 20px 90px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: blue;
    border-radius: 12px;
    box-shadow: 0 9px black;
}
.title {
    text-align: center;
    padding:50px 400px;
}
#title h1 {
     margin:0;
     padding:0;
     color:blue;
     text-transform: uppercase;
     font-size:40px;
}
.container {
    width:50%;
    height:700px;
    background: white;
    margin:0 auto;
    border:2px solid gray;
    box-shadow:0 15px 40px rgba(0,0,0,.7);
}
.container .left {
    float:right;
    width:50%;
    height:700px;
}
.container .right {
    float:left;
    width:50%;
    height:700px;
    background:url('../imgs/login.html.jpeg');
    background-size:cover;
    box-sizing:border-box;
}
.formBox {
    width:100%;
    padding:80px 40px;
    box-sizing:border-box;
    height:800px;
    background:transparent;
}
.formBox p {
   margin:0;
   padding:0;
   font-weight:bolder;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 50px;
   color:black;
}
.formBox input {
    width:100%;
    margin-bottom: 80px;
}
.formBox input[type="text"],
.formBox input[type="Password"] {
    border:none;
    border-bottom:2px solid black;
    outline:none;
    height:40px;
}
.formBox input[type="text"]:focus,
.formBox input[type="Password"]:focus {
     border-bottom:2px solid yellowgreen;
}
.formBox input[type="submit"] {
    border:none;
    outline:none;
    height:40px;
    color:#fff;
    background:yellowgreen;
}
.formBox input[type="submit"]:hover {
    background:green;
}
.formBox a {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: bolder;
}
.title1 {
    text-align: center;
    font-size: 30px;
    padding:20px 400px;
}
#title1 h2 {
     margin:0;
     padding:0;
     color:blue;
     text-transform: uppercase;
     font-size:40px;
}
.container1 {
    width:50%;
    height:1150px;
    background: white;
    margin:0 auto;
    border:2px solid gray;
    box-shadow:0 15px 40px rgba(0,0,0,.7);
}
.container1 .left1 {
    float:right;
    width:50%;
    height:1150px;
}
.container1 .right1 {
    float:left;
    width:50%;
    height:1150px;
    background:url('../imgs/signup.html.jpeg');
    background-size:cover;
    box-sizing:border-box;
}
.formBox1 {
    width:100%;
    padding:80px 40px;
    box-sizing:border-box;
    height:1150px;
    background:transparent;
}
.formBox1 p {
   margin:0;
   padding:0;
   font-weight:bolder;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 50px;
   color:black;
}
.formBox1 input {
    width:100%;
    margin-bottom: 80px;
}
.formBox1 input[type="text"],
.formBox1 input[type="First Name"],
.formBox1 input[type="text"] 
.formBox1 input[type="Last Name"],
.formBox1 input[type="text"]
.formBox1 input[type="Username"],
.formBox1 input[type="text"],
.formBox1 input[type="Password"],
.formBox1 input[type="text"],
.formBox1 input[type="Confirm Password"] {
    border:none;
    border-bottom:1px solid black;
    outline:none;
    height:10px;
}
.formBox1 input[type="text"]:focus,
.formBox1 input[type="First Name"]:focus,
.formBox1 input[type="text"]:focus,
.formBox1 input[type="Last Name"]:focus,
.formBox1 input[type="text"]:focus,
.formBox1 input[type="Username"]:focus,
.formBox1 input[type="text"]:focus,
.formBox1 input[type="Password"]:focus,
.formBox1 input[type="text"]:focus,
.formBox1 input[type="Confirm Password"]:focus {
     border-bottom:4px solid yellowgreen;
}
.formBox1 input[type="submit"] {
    border:none;
    outline:none;
    height:40px;
    color:#fff;
    background:yellowgreen;
}
.formBox1 input[type="submit"]:hover {
    background:green;
}
.formBox1 a {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: bolder;
}
#entry {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%
}

#entry td, #entry th {
    border: 1px solid #ddd;
    padding: 50px;

}

#entry tr:nth-child(even){background-color: #f2f2f2;}

#entry tr:hover {background-color: #ddd;}

#entry th {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    background-color:rgb(9, 121, 250);
    color: white;
}
#entry tr {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: left;
    font-family: fantasy;
    font-size: 50px;
    background-color:rgb(9, 121, 250);
    color: black;
}
.cancelbtn {
    width: auto;
    padding: 20px 25px;
    background-color: red;
    border-radius: 12px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: transparent; /* Fallback color */
    background-color: transparent; /* Black w/ opacity */
    padding-top: 60px;
}
/* Modal Content/Box */
.modal-content {
    background-color: blue;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid blue;
    width: 50%; /* Could be more or less, depending on screen size */
    height:50%;
}
/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
input[type=search] {
    width: 50%;
    padding: 20px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: fantasy;
    font-size: 30px;
}
#main-nav {
    background-repeat: no-repeat;
    background-image: url("../imgs/view.html.jpeg");
    background-size: cover;
    background-position: center;
    height:25vh;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding:0 20px;
}
#main-nav {
    font-size: 90px;
    font-style: initial;
    font-weight: bolder
}
#main-nav {
    font-size: 40px;
}
